body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #161750;
    color: white;
    text-align: center;
    padding: 1em 0;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* Ajusta altura para caber na tela menos o header */
}

#menuback {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #161750;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #161750;
}

p {
    text-align: center;
    color: #ee4c0b;
    font-weight: bold;
}
